@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
/* VARIABLES */
:root {
  --primary-color: #55efc4;
  --secondary-color: #81ecec;
  --red: #ff7675;
  --blue: #74b9ff;
  --yellow: #ffeaa7;
  --gradient-color: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--gradient-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow: hidden;
}

body .circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
}

body .circle.one {
  top: -100px;
  left: -100px;
  width: 500px;
  height: 500px;
  background: var(--red);
}

body .circle.two {
  top: 180px;
  left: 180px;
  width: 300px;
  height: 300px;
  background: var(--yellow);
}

body .circle.three {
  top: 200px;
  right: 180px;
  width: 20px;
  height: 20px;
  background: var(--red);
}

body .circle.four {
  top: 300px;
  right: 300px;
  width: 60px;
  height: 60px;
  background: var(--yellow);
}

body .square {
  position: absolute;
  opacity: 0.8;
}

body .square.one {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  top: 70%;
  right: -20px;
  background: var(--blue);
}

body .square.two {
  width: 300px;
  height: 100px;
  right: -40px;
  bottom: -20px;
  border-radius: 50px;
  opacity: 0.5;
  background: var(--blue);
}

body .calculator {
  width: 350px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: "blur";
          backdrop-filter: "blur";
  border-radius: 30px;
  padding: 20px;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
}

body .calculator .display {
  width: 100%;
  height: 20%;
  padding-right: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .calculator .display .top {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body .calculator .display .bottom {
  font-size: 30px;
}

body .calculator .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .calculator .buttons .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[4];
      grid-template: auto/repeat(4, 1fr);
  gap: 30px;
}

body .calculator .buttons .row .button {
  padding: 10px;
  font-size: 16px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

body .calculator .buttons .row .button span {
  pointer-events: none;
}

body .calculator .buttons .row .button.no-color {
  background: transparent;
}

body .calculator .buttons .row .button.clear {
  background: var(--red);
}

body .calculator .buttons .row .button.yellow {
  background: var(--yellow);
}

body .calculator .buttons .row .button.blue {
  background: var(--blue);
}

body .calculator .buttons .row .button.operands {
  color: #636e72;
  background: #dfe6e9;
}

body .calculator .buttons .row .button.equal {
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
}

body .calculator .buttons .row .button.take2 {
  background: var(--blue);
  width: 100%;
  height: 50px;
  border-radius: 50px;
  grid-column: span 2;
}

@media (max-width: 480px) {
  .circle {
    display: none;
  }
  .square {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */