@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* VARIABLES */

:root {
    --primary-color: #55efc4;
    --secondary-color: #81ecec;
    --red: #ff7675;
    --blue: #74b9ff;
    --yellow: #ffeaa7;

    --gradient-color: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gradient-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow: hidden;

    .circle {
        position: absolute;
        border-radius: 50%;
        opacity: 0.8;
        &.one {
            top: -100px;
            left: -100px;
            width: 500px;
            height: 500px;
            background: var(--red);
        }

        &.two {
            top: 180px;
            left: 180px;
            width: 300px;
            height: 300px;
            background: var(--yellow);
        }

        &.three {
            top: 200px;
            right: 180px;
            width: 20px;
            height: 20px;
            background: var(--red);
        }

        &.four {
            top: 300px;
            right: 300px;
            width: 60px;
            height: 60px;
            background: var(--yellow);
        }
    }

    .square {
        position: absolute;
        opacity: 0.8;

        &.one {
            width: 100px;
            height: 30px;
            border-radius: 20px;
            top: 70%;
            right: -20px;
            background: var(--blue);
        }

        &.two {
            width: 300px;
            height: 100px;
            right: -40px;
            bottom: -20px;
            border-radius: 50px;
            opacity: 0.5;
            background: var(--blue);
        }
    }

    .calculator {
        width: 350px;
        height: 500px;
        background-color: rgba($color: #fff, $alpha: 0.7);
        backdrop-filter: "blur";
        border-radius: 30px;
        padding: 20px;
        z-index: 99;
        -webkit-box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.75);
           -moz-box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.75);

        .display {
            width: 100%;
            height: 20%;
            padding-right: 20px;
            background: rgba($color: #fff, $alpha: 0.5);
            border-radius: 20px;
            overflow: hidden;
            
            display: flex;
            flex-direction: column;
            text-align: right;
            justify-content: center;

            .top {
                font-size: 13px;
                color: rgba($color: black, $alpha: 0.5);
                transition: all .5s ease;
            }

            .bottom {
                font-size: 30px;
            }
        }

        .buttons {
            display: flex;
            height: 80%;
            justify-content: space-evenly;
            flex-direction: column;

            .row {
                display: grid;
                grid-template: auto / repeat(4, 1fr);
                gap: 30px;

                .button {
                    padding: 10px;
                    font-size: 16px;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    
                    span {
                        pointer-events: none;
                    }

                    &.no-color {
                        background: transparent;
                    }

                    &.clear {
                        background: var(--red);
                    }

                    &.yellow {
                        background: var(--yellow);
                    }

                    &.blue {
                        background: var(--blue);
                    }

                    &.operands {
                        color: #636e72;
                        background: #dfe6e9;
                        font-size: 20px;
                    }

                    &.equal {
                        animation-duration: .7s;
                    }

                    &.take2 {
                        background: var(--blue);
                        width: 100%;
                        height: 50px;
                        border-radius: 50px;
                        grid-column: span 2;
                    }
                }
            }
        }
    }
}


@media (max-width: 760px) {
    .circle {
        display: none;
    }

    .square {
        display: none;
    }
}